{% extends 'userapp.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
  
{% endblock %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Data Nilai</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="" class="btn btn-primary">Tambah</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>NIS</th>
                        <th>Nama Siswa</th>
                        
                        <th>Nilai Pengetahuan (Harian+UTS+UAS)</th>
                        <th>Nilai Keterampilan</th>
                        <th>Prediksi Kelulusan</th>
                        <th>Prediksi Kelulusan (SVM)</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.nis }}</td> 
                        <td>{{ item.nama_siswa }}</td>
                        
                        <td>{{ item.nilai_pengetahuan }} ({{ item.nilai_harian_tugas }} + {{ item.nilai_uts }} + {{ item.nilai_uas }}) </td>
                        <td>{{ item.nilai_keterampilan }}</td>
                        <td>{{ item.nilai_predict }} ({{ item.label_predict }})</td>
                        <td>{{ item.label_predict_svm }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'guru:penilaian:nilai@detail' id_jadwal item.nis %}">Detail</a>
                            <a class="btn btn-primary" data-target="#modalNilai" data-toggle="modal" onclick="modalClick('{% url 'guru:penilaian:nilai' id_jadwal item.nis %}')">Nilai</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script>
    function modalClick(url){
        $('form').attr('action',url)
    }
    $(function(){
        $('table').DataTable();
    })
    
</script>
{% endblock %}
{% block modal %}
<div class="modal fade" id="modalNilai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Approve</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label>Nilai Harian</label>
                    <input type="text" name="nilai_harian" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nilai UTS</label>
                    <input type="text" name="nilai_uts" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nilai UAS</label>
                    <input type="text" name="nilai_uas" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nilai Keterampilan</label>
                    <input type="text" name="nilai_keterampilan" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}