{% extends 'userapp.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
  
{% endblock %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Data Jadwal</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Konten</th>
                        <th>Attachment</th>
                        <th>Tanggal tugas dibuat</th>
                        <th>Status Pengerjaan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.title }}</td> 
                        <td>{{ item.konten }}</td>
                        <td>{{ item.attachment }}</td>
                        <td>{{ item.created_date }}</td>
                        {% if item.status_pengerjaan == 0 %}
                            <td>Belum Mengerjakan</td>
                        {% else %}
                            <td>Sudah Mengerjakan</td>
                        {% endif %}
                        
                        <td>
                            <a href="{% url 'siswa:tugas:submit' item.id_agenda item.id_tugas id_jadwal %}" class="btn btn-primary">Submit Tugas</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script>
    $(function(){
        $('table').DataTable();
    })
    
</script>
{% endblock %}