{% extends 'userapp.html' %}
{% block headers %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
  
{% endblock %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Data Agenda</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        {% if tambah_activated %}
        <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'guru:jadwal:agenda_tambah' id_jadwal %}" class="btn btn-primary">Tambah</a></h6>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tema Agenda</th>
                        <th>Aksi</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.tema_pertemuan }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'guru:materi:index' item.id_agenda %}">Materi</a>
                            <a class="btn btn-primary" href="{% url 'guru:tugas:index' item.id_agenda %}">Tugas</a>       
                            <a class="btn btn-primary" href="{% url 'guru:absensi:index' item.id_agenda %}">Absensi</a>       
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<script>
    $(function(){
        $('table').DataTable();
    })
    
</script>
{% endblock %}